# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science
* Python
* R
* SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Matplotlib
4. PyTorch

|Data Science Tools| 
| ------ |
| RStudio |
|Apache Hadoop | 
| TensorFlow |
| Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [8]:
print(200 // 60)
# This will convert 200 minutes to hours by diving by 60

3

## Author
Le Thi Hong Oanh